<!DOCTYPE html>
<html lang="nl">
<head>
<title>Dokumente</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.6.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>  
<script type="text/javascript" src="js/Forum_400.font.js"></script>
<script type="text/javascript" src="js/atooltip.jquery.js"></script> 
 
<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
	<style type="text/css">
		.slider_bg {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->
<!--[if lt IE 7]>
	<div style='clear:both;text-align:center;position:relative'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" title="" /></a>
	</div>
<![endif]-->
</head>
<body id="page2">
<div class="body6">
	<div class="body1">
		<div class="main">
<!-- header -->
			<header>
				<h1><a href="index.html" id="logo">Proyecto Miriam</a></h1>
					<nav>
						<ul id="top_nav">
							<li><a href="../../index-deu.html"><img src="images/home.png" title="Inicio"></a></li>
							<li class="end"><a href="../gua-esp/recursos.html"><img src="images/es.png" title="Spanish"></a></li>
						</ul>
					</nav>
					<nav>
						<ul id="menu">
							<li><a href="aktuelles.html">Aktuelles</a></li>
							<li><a href="chronik.html">Chronik</a></li>
							<li><a href="fotos.html">Fotos</a></li>
							<li><a href="unterstutzung.html">Unterst&uuml;tzung</a></li>
							<li><a href="kontakt.html">Kontakt</a></li>
						</ul>
					</nav>
			</header>
<!-- / header -->
<!-- content -->
			<article id="content">
				<div class="wrap">
					<section class="cols">
						<div class="box" style="height:350px;">
							<div>
								<h2>Auswirkungsstudie <span>Stipendienprogramm</span></h2>
								<figure><img src="images/pdf.png" title="ArchivoDOC" ></figure>
								<a href="doc/Auswirkungsstudie-MIRIAM.pdf" class="button1">Descargar</a>
							</div>
						</div>
					</section>
                    <section class="cols">
						<div class="box" style="height:350px;">
							<div>
								<h2>MIRIAM Bildungsprogramm Guatemala <span><br>1. Halbjahr 2016</span></h2>
								<figure><img src="images/pdf.png" title="ArchivoDOC" ></figure>
								<a href="doc/MIRIAM-BILDUNGSPROGRAMM-GUATEMALA-1-Halbjahr-2016.pdf" class="button1">Descargar</a>
							</div>
						</div>
					</section>
                   
				</div>
			</article>
		</div>
	</div>
</div>
<div class="body2">
	<div class="main">
		<article id="content2">
			<div class="wrapper">
				<section class="pad_left1">
					<h2>Sobre los documentos</h2>
					<div>
						<div class="wrapper">
							
                            <p class="blanco2">Los usuarios se comprometen expresamente a hacer uso del sitio en forma correcta, sin infringir el presente acuerdo, la buena fe y el uso de los docuemntos, asumiendo cualquier responsabilidad en caso de no cumplir con dichas condiciones. <br/><br/>En consecuencia, queda prohibido todo uso con fines ilegales y/o il&iacute;citos, que de alg&uacute;n modo perjudiquen, da&ntilde;en y/o sobrecarguen la informaci&oacute;n y afecten el normal funcionamiento del sitio o que afecten directa o indirectamente contra el mismo o contra cualquier derecho de MIRIAM o de un tercero. As&iacute; como, transmitir o enviar a trav&eacute;s del sitio web cualquier contenido indebido, virus inform&aacute;ticos, o mensajes que afecten o violen derechos de MIRIAM o terceros.</p>
								<div class="wrapper pad_bot1">
								</div>
							
						</div>
					</div>
				</section>
			</div>
		</article>
<!-- / content -->
	</div>
</div>
<div class="body3">
	<div class="body4">
		<div class="main">
<!-- footer -->
			<footer>
				<div class="wrapper">
					<section class="col1 pad_left1">
						<h3></h3>
						Website design <a href="#" target="_blank" rel="nofollow">Izaruz studio</a>
					</section>
					<section class="col2 pad_left1">
						
						<ul id="icons">
						</ul>
					</section>
				</div>
				<!-- {%FOOTER_LINK} -->
			</footer>
<!-- / footer -->
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>