<!DOCTYPE html>
<html lang="es">
<head>
<title>Galeria</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.6.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>  
<script type="text/javascript" src="js/Forum_400.font.js"></script>
<script type="text/javascript" src="js/atooltip.jquery.js"></script> 
<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
	<style type="text/css">
		.slider_bg {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->
<!--[if lt IE 7]>
	<div style='clear:both;text-align:center;position:relative'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" title="" /></a>
	</div>
<![endif]-->
</head>
<body id="page5">
<div class="body6">
	<div class="body1">
		<div class="main">
<!-- header -->
			<header>
				<h1><a href="index.html" id="logo">Proyecto Miriam</a></h1>
				<nav>
						<ul id="top_nav">
							<li><a href="../../index.html"><img src="images/home.png" title="Inicio"></a></li>
							<li class="end"><a href="../sw-deu/unterstutzung.html"><img src="images/de.png" title="Aleman"></a></li>
						</ul>
					</nav>
					<nav>
						<ul id="menu">
							<li><a href="noticias.html">Noticias Actuales</a></li>
							<li><a href="galeria.html">Galeria</a></li>
							<li class="active"><a href="apoyo.html">Como Apoyar</a></li>
							<li><a href="contacto.html">Contacto</a></li>
						</ul>
					</nav>
			</header>
<!-- / header -->
<!-- content -->
			<article id="content">
				<div class="wrap">
					<div class="box">
						<div>
							<h2 class="letter_spacing">Como <span>Apoyar</span></h2>
							<p class="pad_bot11"><br/>&iquest;Como apoyar? <br/><br/> Si a Usted le interesa el trabajo que realizamos y desea brindarnos su apoyo, lo puede hacer de la siguiente manera: <br/>Cooperaci&oacute;n activa, membrec&iacute;a en la asociaci&oacute;n o contribuci&oacute;n econ&oacute;mica<br/><br/>Favor dir&iacute;jase a nuestra oficina <a href="contacto.html" target="_self">Aqu&iacute;</a> <br/>¡Muchas gracias! <br/><br/>
                             <div class="fotos"><figure class="fotos marg_right11"><img src="images/como.jpg" title="Help"></figure></div>

						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
<div class="body2">
	<div class="main">
		<article id="content2">
			<div class="wrapper">
				<section class="pad_left1">
					<div class="wrapper">
						<div class="cols">
							
						</div>
						
					</div>
					<div>
						<div class="wrapper">
							<div>
								<div class="wrapper pad_bot1">
									
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</article>
<!-- / content -->
	</div>
</div>
<div class="body3">
	<div class="body4">
		<div class="main">
<!-- footer -->
			<footer>
				<div class="wrapper">
					<section class="col1 pad_left1">
						<h3></h3>
						Website design <a href="#" target="_blank" rel="nofollow">Izaruz studio</a>
					</section>
					<section class="col2 pad_left1">
						<ul id="icons">
						</ul>
					</section>
				</div>
				<!-- {%FOOTER_LINK} -->
			</footer>
<!-- / footer -->
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>