<!DOCTYPE html>
<html lang="es">
<head>
<title>Quienes Somos</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.6.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>  
<script type="text/javascript" src="js/Forum_400.font.js"></script>
<script type="text/javascript" src="js/atooltip.jquery.js"></script> 
<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
	<style type="text/css">
		.slider_bg {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->
<!--[if lt IE 7]>
	<div style='clear:both;text-align:center;position:relative'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" title="" /></a>
	</div>
<![endif]-->
</head>
<body id="page5">
<div class="body6">
	<div class="body1">
		<div class="main">
<!-- header -->
			<header>
				<h1><a href="index.html" id="logo">Proyecto Miriam</a></h1>
					<nav>
						<ul id="top_nav">
							<li><a href="../../index.html"><img src="images/home.png" title="Inicio"></a></li>
							<li class="end"><a href="../sw-deu/uberuns.html"><img src="images/de.png" title="Aleman"></a></li>
						</ul>
					</nav>
					<nav>
						<ul id="menu">
							<li><a href="noticias.html">Noticias Actuales</a></li>
							<li><a href="galeria.html">Galeria</a></li>
							<li><a href="apoyo.html">Como Apoyar</a></li>
							<li><a href="contacto.html">Contacto</a></li>
						</ul>
					</nav>
			</header>
<!-- / header -->
<!-- content -->
			<article id="content">
				<div class="wrap">
					<div class="box">
						<div>
							<h2 class="letter_spacing">Quienes <span>Somos</span></h2>
                            <p class="pad_bot11">La Asociacion MIRIAM-Suiza apoya proyectos y programas de MIRIAM en Nicaragua y Guatemala. Las miembras de la junta directiva en Suiza se dedican a las relaciones p&uacute;blicas y a la recaudaci&oacute;n de fondos en coordinaci&oacute;n con las encargadas de los proyectos en Centroam&eacute;rica. MIRIAM-Suiza publica trimestralmente la revista &quot;Flores y Espinas&quot; con la que pretenden informar a los donantes sobre los avances de los proyectos y acontecimientos actuales acerca de la situaci&oacute;n de las mujeres en Nicaragua y Guatemala.</p>
<p class="pad_bot11">MIRIAM-Suiza invita a todas las mujeres que quieren apoyar la reivindicaci&oacute;n de los derechos de las mujeres en Nicaragua y Guatemala de ponerse en contacto con ellas!<br/><br/>
                             <div class="fotos"><figure class="fotos marg_right11"><img src="images/G1.jpg" title="Help"></figure></div></p>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
<div class="body2">
	<div class="main">
		<article id="content2">
			<div class="wrapper">
				<section class="pad_left1">
					<div class="wrapper">
						<div class="cols">
							<h2>Mas informaci&oacute;n</h2>
						</div>
						
					</div>
					<div class="line1">
						<div class="wrapper">
							<div class="cols">
								<div class="wrapper pad_bot1">
									<a href="mailto:arianeburkhardt@hotmail.com">arianeburkhardt@hotmail.com</a><br/>
                                </div>
							</div>
							
						</div>
					</div>
				</section>
			</div>
		</article>
<!-- / content -->
	</div>
</div>
<div class="body3">
	<div class="body4">
		<div class="main">
<!-- footer -->
			<footer>
				<div class="wrapper">
					<section class="col1 pad_left1">
						<h3></h3>
						Website design <a href="#" target="_blank" rel="nofollow">Izaruz studio</a>
					</section>
					<section class="col2 pad_left1">
						<ul id="icons">
						</ul>
					</section>
				</div>
				<!-- {%FOOTER_LINK} -->
			</footer>
<!-- / footer -->
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>