<!DOCTYPE html>
<html lang="es">
<head>
<title>Nuestros Programas</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.6.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>  
<script type="text/javascript" src="js/Forum_400.font.js"></script>
<script type="text/javascript" src="js/atooltip.jquery.js"></script> 
 
<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
	<style type="text/css">
		.slider_bg {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->
<!--[if lt IE 7]>
	<div style='clear:both;text-align:center;position:relative'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" title="" /></a>
	</div>
<![endif]-->
</head>
<body id="page4">
<div class="body6">
	<div class="body1">
		<div class="main">
<!-- header -->
			<header>
				<h1><a href="index.html" id="logo">Proyecto Miriam</a></h1>
				<nav>
						<ul id="top_nav">
							<li><a href="../../index.html"><img src="images/home.png" title="Inicio"></a></li>
							<li class="end"><a href="../sw-deu/programme.html"><img src="images/de.png" title="Aleman"></a></li>
						</ul>
					</nav>
					<nav>
						<ul id="menu">
							<li><a href="noticias.html">Noticias Actuales</a></li>
							<li><a href="galeria.html">Galeria</a></li>
							<li><a href="apoyo.html">Como Apoyar</a></li>
							<li><a href="contacto.html">Contacto</a></li>
						</ul>
					</nav>
			</header>
<!-- / header -->
<!-- content -->
			<article id="content">
				<div class="wrap">
					<div class="box">
						<div>
							<a id="becas"></a><h2 class="letter_spacing">Nuestros <span>programas</span></h2>
							<p class="pad_bot11">Actualmente apoyamos la <a href="../nic-esp/nuestrosprogramas.html#p2" target="_blank">Asesoria</a> psicolegal en Achuapa y 10 becas para estudios universitarios en <a href="http://www.miriamnicaragua.org/" target="_blank">Nicaragua.</a><br/><br/>
							<a href="doc/Estudio de Impacto Nicaragua.pdf" target="_blank">Lea mas</a> sobre el impacto que tiene una beca de MIRIAM para las mujeres becadas.Ver estudio<br/><br/>
							La 400a becada de MIRIAM, Massiel Carolina Ve&aacute;zquez Casco, nos da una <a href="noticias.html" target="_self">entrevista</a>.</p>
						</div>
				  </div>
			  </div>
		  </article>
            
		</div>
	</div>
</div>
<div class="body2">
	<div class="main">
		<article id="content2">
			<div class="wrapper">
				<section class="pad_left1">
					<div class="wrapper">
						<div class="col1">
						</div>
					</div>
					<div class="wrapper">
						<div class="col1">
							<div class="wrapper">
								
							</div>
						</div>
					</div>
				</section>
			</div>
		</article>
<!-- / content -->
	</div>
</div>
<div class="body3">
	<div class="body4">
		<div class="main">
<!-- footer -->
			<footer>
				<div class="wrapper">
					<section class="col1 pad_left1">
						<h3></h3>
						Website design <a href="#" target="_blank" rel="nofollow">Izaruz studio</a>
					</section>
					<section class="col2 pad_left1">
						<ul id="icons">
						</ul>
					</section>
				</div>
				<!-- {%FOOTER_LINK} -->
			</footer>
<!-- / footer -->
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>