<!DOCTYPE html>
<html lang="es">
<head>
<title>MIRIAM Project</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.6.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>  
<script type="text/javascript" src="js/Forum_400.font.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/tms-0.3.js"></script>
<script type="text/javascript" src="js/tms_presets.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/atooltip.jquery.js"></script> 

<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
	<style type="text/css">
		.slider_bg {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->
<!--[if lt IE 7]>
	<div style='clear:both;text-align:center;position:relative'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" title="" /></a>
	</div>
<![endif]-->
</head>
<body id="page1">
<div class="body6">
	<div class="body1">
		<div class="body5">
			<div class="main">
<!-- header -->
				<header>
					<nav>
						<ul id="top_nav">
							<li><a href="index-deu.html"><img src="images/home.png" title="Inicio"></a></li>
							<li class="end"><a href="miriames.html"><img src="images/de.png" title="Spanish"></a></li>
						</ul>
					</nav>
					<nav>
						<ul id="menu">
							<li><a href="index-deu.html#nosotros">&Uuml;BER UNS</a></li>
							<li><a href="index-deu.html#organigrama">ORGANIGRAMM</a></li>
						</ul>
					</nav>
				</header>
<!-- / header -->
<!-- content -->
				<article id="content">
					
                  <br/>
                    
                    <div class="fotos"><img src="site/au-esp/images/logo.png" alt="logo" width="240" height="150" class="fotos"><br/><br/></div>
                    
                    <p class="centro"><strong> </strong></p>
                    <p class="centro"><strong>&quot;Die Prophetin Mirjam, die Schwester Aarons, nahm die Pauke in die Hand, und alle Frauen<br>
                  zogen mit Paukenschlag und Tanz hinter ihr her. Mirjam sang ihnen vor…&quot;</strong></p>
                    <p class="centro">Miriam, die unserer Organisation den Namen gab, lebte vor rund 3000 Jahren und war mit Moses<br>
                    die Anf&uuml;hrerin des israelitischen Volkes, als es aus der Sklaverei in Ägypten in die Freiheit zog.<br>
                    Als Theologin gefiel mir das Motiv –eine starke Frau, die Mut, Courage und Engagement beweist<br>
                    und ihre Leute auf dem Weg in die Freiheit anf&uuml;hrt. MIRIAM heißt f&uuml;r unsere Organisation, f&uuml;r<br>
                    uns Frauen heute, aus der Sklaverei des Schweigens, der Apathie, der Unwissenheit aufzubrechen<br>
                    in eine neue Zukunft– eine Zukunft der Freiheit, des Selbstbewusstseins, der St&auml;rke, des<br>
                    Engagements. Der Weg dazu heißt Bildung und damit Selbstbewusstsein, berufliche und fachliche<br>
                    Kompetenz zu gewinnen. Bildung bedeutet auch Einfluss zu gewinnen in Beruf und Gesellschaft,<br>
                    eigene Ideen einzubringen, Ver&auml;nderung zu bewirken und wichtige Entscheidungen mitzutragen.</p>
                    <p class="centro"><em>Dr. Doris Huber </em><br/><em>Gr&uuml;nderin von MIRIAM und Gesch&auml;ftsf&uuml;hrerin von MIRIAM&ndash;&Ouml;sterreich</em></p>
                    <p class="centro">&nbsp;</p>
                    <p class="pad_bot11">&nbsp;</p>
				<br/><br/><br/>
                
		      </article>
			</div>
		</div>
	</div>
</div>
<div class="body2">
	<div class="main">
		<article id="content2">
			<div class="wrapper">
				
			</div>
		</article>
<!-- / content -->
	</div>
</div>
<div class="body3">
	<div class="body4">
		<div class="main">
<!-- footer -->
			<footer>
				<div class="wrapper">
					<section class="col1 pad_left1">
						<h3></h3>
						Website design <a href="#" target="_blank" rel="nofollow">Izaruz studio</a>
					</section>
					<section class="col2 pad_left1">
						
						<ul id="icons">
							
						</ul>
					</section>
				</div>
				<!-- {%FOOTER_LINK} -->
			</footer>
<!-- / footer -->
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>