<!DOCTYPE html>
<html lang="es">
<head>
<title>MIRIAM Project</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.6.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>  
<script type="text/javascript" src="js/Forum_400.font.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/tms-0.3.js"></script>
<script type="text/javascript" src="js/tms_presets.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/atooltip.jquery.js"></script> 

<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
	<style type="text/css">
		.slider_bg {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->
<!--[if lt IE 7]>
	<div style='clear:both;text-align:center;position:relative'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" title="" /></a>
	</div>
<![endif]-->
</head>
<body id="page1">
<div class="body6">
	<div class="body1">
		<div class="body5">
			<div class="main">
<!-- header -->
				<header>
					<nav>
						<ul id="top_nav">
							<li><a href="index.html"><img src="images/home.png" title="Inicio"></a></li>
							<li class="end"><a href="miriamdu.html"><img src="images/de.png" title="Spanish"></a></li>
						</ul>
					</nav>
					<nav>
						<ul id="menu">
							<li><a href="index.html#nosotros">NOSOTRAS</a></li>
							<li><a href="index.html#organigrama">ORGANIGRAMA</a></li>
						</ul>
					</nav>
				</header>
<!-- / header -->
<!-- content -->
				<article id="content">
					
                  <br/>
                    
                    <div class="fotos"><img src="site/au-esp/images/logo.png" alt="logo" width="240" height="150" class="fotos"><br/><br/></div>
                    
                    <p class="centro"><strong> &ldquo;Entonces Miriam, la profetisa, hermana de Aaron, tomó en sus manos un instrumento, un pandero, y todas las mujeres la seguían con tímpanos, danzando en coro, Y Miriam les cantaba...&rdquo;</strong><br>
                    <em>Exodo 15, 20-21a</em></p>
                    <p class="centro"><em>Miriam, la mujer que dio el nombre a nuestra organización, vivió unos 3 mil años atrás.  Ella fue, junto con Moisés, una lideresa del pueblo de Israel cuando salieron de la esclavitud de Egipto a la tierra prometida y a la libertad. Como teóloga me gustó el motivo – una mujer fuerte, con valor, fuerza y compromiso que guió a su gente en su camino hacia la libertad. MIRIAM significa para nuestra organización, para nosotras las mujeres de hoy en día, salir de la esclavitud del silencio, de la apatía, de la ignorancia hacía un nuevo futuro – un futuro de libertad, de conciencia, de fuerza, de compromiso. El camino se llama formación y con eso se gana conciencia de sí misma, se gana profesionalismo y capacidad. Significa también ganarse influencia tanto en el campo profesional como en la sociedad, es aportar ideas propias, incidir en los cambios y participar en decisiones importantes.</em>
                      </p>
                    <span class="centro"><em>Dr. Doris Huber </em><br/><em>Fundadora de MIRIAM y directora de MIRIAM-Austria</em></span>
                    <p class="centro">&nbsp;</p>
                    <p class="pad_bot11">&nbsp;</p>
				<br/><br/><br/>
                
		      </article>
			</div>
		</div>
	</div>
</div>
<div class="body2">
	<div class="main">
		<article id="content2">
			<div class="wrapper">
				
			</div>
		</article>
<!-- / content -->
	</div>
</div>
<div class="body3">
	<div class="body4">
		<div class="main">
<!-- footer -->
			<footer>
				<div class="wrapper">
					<section class="col1 pad_left1">
						<h3></h3>
						Website design <a href="#" target="_blank" rel="nofollow">Izaruz studio</a>
					</section>
					<section class="col2 pad_left1">
						
						<ul id="icons">
							
						</ul>
					</section>
				</div>
				<!-- {%FOOTER_LINK} -->
			</footer>
<!-- / footer -->
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>