<!DOCTYPE html>
<html lang="nl">
<head>
<title>&Uuml;ber Uns</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.6.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>  
<script type="text/javascript" src="js/Forum_400.font.js"></script>
<script type="text/javascript" src="js/atooltip.jquery.js"></script> 
<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
	<style type="text/css">
		.slider_bg {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->
<!--[if lt IE 7]>
	<div style='clear:both;text-align:center;position:relative'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" title="" /></a>
	</div>
<![endif]-->
</head>
<body id="page5">
<div class="body6">
	<div class="body1">
		<div class="main">
<!-- header -->
			<header>
				<h1><a href="index.html" id="logo">Proyecto Miriam</a></h1>
					<nav>
						<ul id="top_nav">
							<li><a href="../../index-deu.html"><img src="images/home.png" title="Inicio"></a></li>
							<li class="end"><a href="../sw-esp/nosotros.html"><img src="images/es.png" title="Spanish"></a></li>
						</ul>
					</nav>
					<nav>
						<ul id="menu">
							<li><a href="aktuelles.html">Aktuelles</a></li>
							<li><a href="fotos.html">Fotos</a></li>
							<li><a href="unterstutzung.html">Unterst&uuml;tzung</a></li>
							<li><a href="kontakt.html">Kontakt</a></li>
						</ul>
					</nav>
			</header>
<!-- / header -->
<!-- content -->
			<article id="content">
				<div class="wrap">
					<div class="box">
						<div>
							<h2 class="letter_spacing">&Uuml;ber <span>Uns</span></h2>
                            <p class="pad_bot11">Der Verein MIRIAM Schweiz <a href="http://www.miriamschweiz.ch/" target="_blank">www.miriamschweiz.ch</a> unterstützt Bildungsprojekte von MIRIAM für Frauen in Nicaragua. Der Vorstand leistet unter anderem Öffentlichkeitsarbeit und Fundraising in der Schweiz und pflegt den direkten Kontakt mit den Projektverantwortlichen vor Ort in Nicaragua. Dies sind einerseits die "Asociación Proyecto MIRIAM" mit Sitz in Esteli, <a href="http://www.miriamnicaragua.org/">www.miriamnicaragua.org</a> und andererseits "MIRIAM - proyecto para la promoción intelectual de la mujer" (siehe diese Webseite / Nicaragua) mit Sitz in Somotillo sowie in Klosterneuburg, Österreich. </p>
                            <p class="pad_bot11">Mit der sporadisch erscheinenden Zeitschrift "flores y espinas" (Blüten und Stacheln) <a href="dokumente.html">"flores y espinas"</a> informiert MIRIAM Schweiz ihre Spenderinnen und Spender über die Entwicklungen der unterstützten Projekte und berichtet über frauenspezifische Themen in Nicaragua.</p>
							<div class="fotos"><figure class="fotos marg_right11"><img src="images/G1.jpg" title="Help"></figure></div>

						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
<div class="body2">
	<div class="main">
		<article id="content2">
			<div class="wrapper">
				<section class="pad_left1">
					<div class="wrapper">
						<div class="cols">
							<h2>N&auml;here Information</h2>
						</div>
						
					</div>
					<div class="line1">
						<div class="wrapper">
							<div class="cols">
								<div class="wrapper pad_bot1">
									<p style="color:#FFFFFF;">
                                    Bildungsprojekt zur Frauenförderung in Nicaragua<br>
                                    3000 Bern<br>
                                    <a href="mailto:info@miriamschweiz.ch">info@miriamschweiz.ch</a> / <a href="http://www.miriamschweiz.ch/">www.miriamschweiz.ch</a> <br>
                                    
                                    PC-Konto: 30-476213-1 / IBAN: CH37 0900 0000 3047 6213 1 / BIC: POFICHBEXXX<br>
									</p>
                                </div>
							</div>
							
						</div>
					</div>
				</section>
			</div>
		</article>
<!-- / content -->
	</div>
</div>
<div class="body3">
	<div class="body4">
		<div class="main">
<!-- footer -->
			<footer>
				<div class="wrapper">
					<section class="col1 pad_left1">
						<h3></h3>
						Website design <a href="#" target="_blank" rel="nofollow">Izaruz studio</a>
					</section>
					<section class="col2 pad_left1">
						<ul id="icons">
						</ul>
					</section>
				</div>
				<!-- {%FOOTER_LINK} -->
			</footer>
<!-- / footer -->
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>