<!DOCTYPE html>
<html lang="nl">
<head>
<title>Unterst&uuml;tzung</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.6.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>  
<script type="text/javascript" src="js/Forum_400.font.js"></script>
<script type="text/javascript" src="js/atooltip.jquery.js"></script> 
<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
	<style type="text/css">
		.slider_bg {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->
<!--[if lt IE 7]>
	<div style='clear:both;text-align:center;position:relative'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" title="" /></a>
	</div>
<![endif]-->
</head>
<body id="page5">
<div class="body6">
	<div class="body1">
		<div class="main">
<!-- header -->
			<header>
				<h1><a href="index.html" id="logo">Proyecto Miriam</a></h1>
				<nav>
						<ul id="top_nav">
							<li><a href="../../index-deu.html"><img src="images/home.png" title="Inicio"></a></li>
							<li class="end"><a href="../sw-esp/apoyo.html"><img src="images/es.png" title="Spanish"></a></li>
						</ul>
					</nav>
					<nav>
						<ul id="menu">
							<li><a href="aktuelles.html">Aktuelles</a></li>
							<li><a href="fotos.html">Fotos</a></li>
							<li class="active"><a href="unterstutzung.html">Unterst&uuml;tzung</a></li>
							<li><a href="kontakt.html">Kontakt</a></li>
						</ul>
					</nav>
			</header>
<!-- / header -->
<!-- content -->
			<article id="content">
				<div class="wrap">
					<div class="box">
						<div>
							<h2 class="letter_spacing">Unterst&uuml;tzung <span></span></h2>
							<p class="pad_bot11">Wenn Ihnen unsere Arbeit gef&auml;llt und sinnvoll erscheint, so k&ouml;nnen Sie in folgender Weise dazu beitragen:<br/></p>
                            <ul class="pad_bot11">
                            <li>Aktive Mitarbeit <a href="kontakt.html" target="_self">KONTAKT</a></li> 
                            <li>Vereinsmitgliedschaft <a href="kontakt.html" target="_self">KONTAKT</a></li>
                            <li>Finanzielle Unterst&uuml;tzung (Dauerauftrag oder einmaliger Unterst&uuml;tzungsbeitrag)</li>
                            </ul><br/>
                            <p class="pad_bot11"><strong>Bankverbindung:</strong> <br/>
                            Verein MIRIAM<br/>
                            Bildungsprojekt zur Frauenf&ouml;rderung in Nicaragua und Guatemala<br/>
                            Die Schweizerische Post, Post Finance, 3030 Bern<br/>
                            PC 30-476213-1<br/>
                            <strong>IBAN:</strong> CH37 0900 0000 3047 6213 1<br/>
                            <strong>BIC:</strong> POFICHBEXXX<br/>
                            <strong>HERZLICHEN DANK!</strong></p><br/><br/>
                             <div class="fotos"><figure class="fotos marg_right11"><img src="images/como.jpg" title="Help"></figure></div>

						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
<div class="body2">
	<div class="main">
		<article id="content2">
			<div class="wrapper">
				<section class="pad_left1">
					<div class="wrapper">
						<div class="cols">
							
						</div>
						
					</div>
					<div>
						<div class="wrapper">
							<div>
								<div class="wrapper pad_bot1">
									
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</article>
<!-- / content -->
	</div>
</div>
<div class="body3">
	<div class="body4">
		<div class="main">
<!-- footer -->
			<footer>
				<div class="wrapper">
					<section class="col1 pad_left1">
						<h3></h3>
						Website design <a href="#" target="_blank" rel="nofollow">Izaruz studio</a>
					</section>
					<section class="col2 pad_left1">
						
						<ul id="icons">
						</ul>
					</section>
				</div>
				<!-- {%FOOTER_LINK} -->
			</footer>
<!-- / footer -->
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>