.bg {
	background-color: #24262F;
}
.ex-border{
	border: 1px solid red;
}
.brand{
	margin-top: 12%;
	margin-bottom: 10%;
}
.title{
	font-family: 'Oswald', sans-serif;
	color: #E55452;
	text-align: left;
}
.content{
	color: #fefefe;
}
.border-brand{
	border-left: 1px solid white;
	padding: 20px 30px;
}
.social-icons{
	color: #fefefe;
	list-style: none;
	margin: 0;
	padding: 0;
}
.social-icons-item{
	font-size: 28px;
	display: inline-block;
	margin: 0 10px 0 0;
	transition: all 0.5s ease;
}
.social-icons-item:hover{
	color: #E55452;
	cursor: pointer;
}
.social-icons-item a{
	text-decoration: none;
	color: #fefefe;
	transition: all 0.5s ease;
}
.social-icons-item a:hover{
	color: #E55452;
	cursor: pointer;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
	.title{
		text-align: center;
	}
	.border-brand{
		border-left: 0px solid white;
		border-top: 1px solid white;
		padding: 20px 30px;
		margin-top: 5%;
		text-align: center;
	}
}