<!DOCTYPE html>
<html lang="es">
<head>
<title>Contacto</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.6.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>  
<script type="text/javascript" src="js/Forum_400.font.js"></script>
<script type="text/javascript" src="js/atooltip.jquery.js"></script> 
<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
	<style type="text/css">
		.slider_bg {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->
<!--[if lt IE 7]>
	<div style='clear:both;text-align:center;position:relative'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" title="" /></a>
	</div>
<![endif]-->
</head>
<body id="page5">
<div class="body6">
	<div class="body1">
		<div class="main">
<!-- header -->
			<header>
				<h1><a href="index.html" id="logo">Proyecto Miriam</a></h1>
				<nav>
						<ul id="top_nav">
							<li><a href="../../index.html"><img src="images/home.png" title="Inicio"></a></li>
							<li class="end"><a href="../nic-deu/kontakt.html"><img src="images/de.png" title="Aleman"></a></li>
						</ul>
					</nav>
					<nav>
						<ul id="menu">
							<li><a href="noticias.html">Noticias Actuales</a></li>
							<li><a href="galeria.html">Galeria</a></li>
							<li><a href="apoyo.html">Como Apoyar</a></li>
							<li class="active"><a href="contacto.html">Contacto</a></li>
						</ul>
					</nav>
			</header>
<!-- / header -->
<!-- content -->
			<article id="content">
				<div class="wrap">
					<div class="box">
						<div>
							<h2 class="letter_spacing">Contact <span>Form</span></h2>
							<form id="ContactForm">
								<div>
									<div class="wrapper">
										<span class="pad_bot11">Tu nombre:</span>
										<input type="text" class="input" >
									</div>
									<div class="wrapper">
										<span class="pad_bot11">Tu eMail:</span>
										<input type="text" class="input" >								
									</div>
									<div class="textarea_box">
										<span class="pad_bot11">Tu mensaje:</span>
										<textarea name="textarea" cols="1" rows="1"></textarea>								
									</div>
									<a href="#" class="button1" onClick="document.getElementById('ContactForm').submit()">Enviar</a>
									<a href="#" class="button1" onClick="document.getElementById('ContactForm').reset()">Limpiar</a>
								</div>
							</form><br/><br/>
                             <div class="fotos"><figure class="fotos marg_right11"><img src="images/contacto.jpg" title="Help"></figure></div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
<div class="body2">
	<div class="main">
		<article id="content2">
			<div class="wrapper">
				<section class="pad_left1">
					<div class="wrapper">
						<div class="cols">
							<h2>Nuestros contactos</h2>
						</div>
						<div class="col3 pad_left1">
							<h2>MIRIAM SOMOTILLO/ACHUAPA</h2>
						</div>
					</div>
					<div>
						<div class="wrapper">
							
								<div class="wrapper pad_bot1">
									<p>Direcci&oacute;n.</p>
									<p class="blanco">
										Antigua Alcald&iacute;a de Somotillo, Somotillo, Dpto. de Chinandega, NICARAGUA.<br>
										<span>Tel&eacute;fono:</span> + 505- 8429 1304<br>
										<span>Coordinadora:</span> Licda. Esmeralda Galeano Mendoza<br>
										<span>E-mail:</span><a href="mailto:somotillo@proyecto-miriam.org">somotillo@proyecto-miriam.org</a> und <a href="mailto:esgalem@yahoo.es ">esgalem@yahoo.es </a>
									</p>
								</div>
						</div>
					</div>
				</section>
			</div>
		</article>
<!-- / content -->
	</div>
</div>
<div class="body3">
	<div class="body4">
		<div class="main">
<!-- footer -->
			<footer>
				<div class="wrapper">
					<section class="col1 pad_left1">
						
						Website design <a href="mailto:izaruz@gmail.com">Izaruz studio</a>
					</section>
					<section class="col2 pad_left1">
						<ul id="icons">
						</ul>
					</section>
				</div>
				<!-- {%FOOTER_LINK} -->
			</footer>
<!-- / footer -->
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>