<!DOCTYPE html>
<html lang="es">
<head>
<title>Nuestros Programas</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.6.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>  
<script type="text/javascript" src="js/Forum_400.font.js"></script>
<script type="text/javascript" src="js/atooltip.jquery.js"></script> 
 
<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
	<style type="text/css">
		.slider_bg {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->
<!--[if lt IE 7]>
	<div style='clear:both;text-align:center;position:relative'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" title="" /></a>
	</div>
<![endif]-->
</head>
<body id="page4">
<div class="body6">
	<div class="body1">
		<div class="main">
<!-- header -->
			<header>
				<h1><a href="index.html" id="logo">Proyecto Miriam</a></h1>
				<nav>
						<ul id="top_nav">
							<li><a href="../../index.html"><img src="images/home.png" title="Inicio"></a></li>
							<li class="end"><a href="../au-deu/programme.html"><img src="images/de.png" title="Aleman"></a></li>
						</ul>
					</nav>
					<nav>
						<ul id="menu">
							<li><a href="noticias.html">Noticias Actuales</a></li>
							<li><a href="galeria.html">Galeria</a></li>
							<li><a href="apoyo.html">Como Apoyar</a></li>
							<li><a href="contacto.html">Contacto</a></li>
						</ul>
					</nav>
			</header>
<!-- / header -->
<!-- content -->
			<article id="content">
				<div class="wrap">
					<div class="box">
						<div>
							<a id="becas"></a><h2 class="letter_spacing">Programa <span>de Informaci&oacute;n y Concientizaci&oacute;n en Austria</span></h2>
							<p class="pad_bot11">Las compañeras de MIRIAM Austria realizan varias actividades de relaciones p&uacute;blicas, talleres y seminarios sobre la educaci&oacute;n liberadora, que conecta a las mujeres de todos los paises y promueve nuestro derecho a una vida sin violencia y con educacion.<br/>
                            Actualmente ofrecemos dos talleres sobre los siguientes temas (en Aleman):<br/><br/>
                            
                            <strong>&quot;Si no tienes educaci&oacute;n &ndash; no tienes liberaci&oacute;n!&quot;</strong> <br/>
                            La importancia de una educaci&oacute;n liberadora para el empoderamiento de mujeres en Nicaragua y Guatemala.<br/><br/>
                            
                            <strong>&quot;Dios es una de nosotras!&quot;</strong> <br/>
                            Teolog&iacute;a de la liberaci&oacute;n feminista latinoam&eacute;ricana – origen, principios y sus mensajes liberadoras para las mujeres hoy en d&iacute;a.<br/><div class="fotos"><figure class="fotos marg_right11"><img src="images/programas.jpg" title="Programas"></figure></div></p>
                            
						</div>
				  </div>
			  </div>
		  </article>
            
		</div>
	</div>
</div>
<div class="body2">
	<div class="main">
		<article id="content2">
			<div class="wrapper">
				<section class="pad_left1">
					<div class="wrapper">
						<div class="col1">
						</div>
					</div>
					<div class="wrapper">
						<div class="col1">
							<div class="wrapper">
								
							</div>
						</div>
					</div>
				</section>
			</div>
		</article>
<!-- / content -->
	</div>
</div>
<div class="body3">
	<div class="body4">
		<div class="main">
<!-- footer -->
			<footer>
				<div class="wrapper">
					<section class="col1 pad_left1">
						<h3></h3>
						Website design <a href="#" target="_blank" rel="nofollow">Izaruz studio</a>
					</section>
					<section class="col2 pad_left1">
						
					</section>
				</div>
				<!-- {%FOOTER_LINK} -->
			</footer>
<!-- / footer -->
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>