<!DOCTYPE html>
<html lang="nl">
<head>
<title>Kontakt</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.6.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>  
<script type="text/javascript" src="js/Forum_400.font.js"></script>
<script type="text/javascript" src="js/atooltip.jquery.js"></script> 
<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
	<style type="text/css">
		.slider_bg {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->
<!--[if lt IE 7]>
	<div style='clear:both;text-align:center;position:relative'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" title="" /></a>
	</div>
<![endif]-->
</head>
<body id="page5">
<div class="body6">
	<div class="body1">
		<div class="main">
<!-- header -->
			<header>
				<h1><a href="index.html" id="logo">Proyecto Miriam</a></h1>
				<nav>
						<ul id="top_nav">
							<li><a href="../../index-deu.html"><img src="images/home.png" title="Inicio"></a></li>
							<li><a href="https://www.facebook.com/pages/Miriam-Bildungsprojekt-zur-Frauenf%C3%B6rderung/358146877529342?fref=ts"><img src="images/fb.png" title="Facebook"></a></li>
							<li class="end"><a href="../au-esp/contacto.html"><img src="images/es.png" title="Spanish"></a></li>
						</ul>
					</nav>
					<nav>
						<ul id="menu">
							<li><a href="aktuelles.html">Aktuelles</a></li>
							<li><a href="fotos.html">Fotos</a></li>
							<li><a href="unterstutzung.html">Unterst&uuml;tzung</a></li>
							<li class="active"><a href="kontakt.html">Kontakt</a></li>
						</ul>
					</nav>
			</header>
<!-- / header -->
<!-- content -->
			<article id="content">
				<div class="wrap">
					<div class="box">
						<div>
							<h2 class="letter_spacing">Kontaktformular </h2>
							<form id="ContactForm">
								<div>
									<div class="wrapper">
										<span class="pad_bot11">Dein Name:</span>
										<input type="text" class="input" >
									</div>
									<div class="wrapper">
										<span class="pad_bot11">Dein eMail:</span>
										<input type="text" class="input" >								
									</div>
									<div class="textarea_box">
										<span class="pad_bot11">Dein Anliegen:</span>
										<textarea name="textarea" cols="1" rows="1"></textarea>								
									</div>
									<a href="#" class="button1" onClick="document.getElementById('ContactForm').submit()">L&ouml;schen</a>
									<a href="#" class="button1" onClick="document.getElementById('ContactForm').reset()">Senden</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
<div class="body2">
	<div class="main">
		<article id="content2">
			<div class="wrapper">
				<section class="pad_left1">
					<div class="wrapper">
						<div class="cols">
							<h2>KONTAKT</h2>
						</div>
						<div class="col3 pad_left1">
							<h2>MIRIAM-&Ouml;sterreich</h2>
						</div>
					</div>
					<div>
						<div class="wrapper">
							
								<div class="wrapper pad_bot1">
									<p class="blanco">
										Langst&ouml;gergasse 5-7/22, A-3400 Klosterneuburg, &Ouml;sterreich<br>
										<span>Telefax:</span> +43 - 2243 - 33007<br>
										<span>Pr&auml;sidentin:</span> Mag. Alena Sirka-Bred<br>
                                        <span>Gesch&auml;ftsf&uuml;hrerin:</span> Dra. Doris Huber <br>
										<span>E-mail:</span><a href="mailto:austria@proyecto-miriam.org">austria@proyecto-miriam.org</a> und <a href="mailto:miriamoe@aon.at">miriamoe@aon.at </a>
									</p>
								</div>
						</div>
					</div>
				</section>
			</div>
		</article>
<!-- / content -->
	</div>
</div>
<div class="body3">
	<div class="body4">
		<div class="main">
<!-- footer -->
			<footer>
				<div class="wrapper">
					<section class="col1 pad_left1">
						<h3></h3>
						Website design <a href="#" target="_blank" rel="nofollow">Izaruz studio</a>
					</section>
					<section class="col2 pad_left1">
						
						<ul id="icons">
							<li><a href="https://www.facebook.com/pages/Miriam-Bildungsprojekt-zur-Frauenf%C3%B6rderung/358146877529342?fref=ts" class="normaltip" title="Facebook"><img src="images/fb.png" title="Facebook"></a></li>
						</ul>
					</section>
				</div>
				<!-- {%FOOTER_LINK} -->
			</footer>
<!-- / footer -->
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>